//Fontes
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";

//Cores
$cor-do-texto: #d9d9d9;
$azul-escuro: #3300ff;
$azul-claro: #3399ff;
$azul-rodape: #04244f;
$vermelho: #cc0033;
$bordo: #661429;
$cinza-claro: #9d9d9d;
$tag-color: rgba(148, 163, 184,0.3);
